@model IEnumerable<ShortUserViewModel>
@inject UserManager<ApplicationUser> userManager

@{
    this.ViewData["Title"] = "Messages";
}

<div class="container">
    <div class="row">
        @foreach (var user in Model.Where(x => x.Id != this.userManager.GetUserId(this.User)))
        {
            <div class="col-4 mx-auto">
                <div class="card m-2" style="width: 18rem;">
                    <img class="card-img-top message-img" src="@user.ProfileImageUrl" alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title">@user.FirstName @user.LastName</h5>
                        <p class="card-text">@user.Description</p>
                    </div>
                    <div class="card-body text-center">
                        <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-username="@user.UserName" class="btn btn-primary">Profile</a>
                        <a asp-area="Messenger" asp-controller="Home" asp-action="StartChat" asp-route-userId="@user.Id" class="btn btn-warning">Message</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
