@model IEnumerable<Socializer.Web.ViewModels.Groups.Dashboard.DbGroupCreateRequestViewModel>

<h1>Group Create Requests</h1>

@if (!Model.Any())
{
    <h3>No pending request in the database.</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Username</th>
                <th scope="col">Requested On</th>
                <th scope="col">Status</th>
                <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model)
            {
                <tr>
                    <th scope="row">@request.Id</th>
                    <td>@request.Name</td>
                    <td>@request.Description.Substring(0, request.Description.Length > 30 ? 30 : request.Description.Length) ...</td>
                    <td><a asp-controller="Profile" asp-action="Index" asp-route-username="@request.Creator.UserName">@request.Creator.UserName</a></td>
                    <td>@request.CreatedOn.ToShortDateString()</td>
                    <td>@request.Status</td>
                    <td><a asp-area="Admin" asp-controller="Groups" asp-action="Details" asp-route-id="@request.Id" class="btn btn-success">View</a></td>
                </tr>
            }
        </tbody>
    </table>
}