@model IEnumerable<PostViewModel>
@{
    this.ViewData["Title"] = "Home Page";
}

@if (this.User.Identity.IsAuthenticated)
{
    <form asp-controller="Posts" asp-action="Create" method="post">
        <div class="form-group">
            <input class="form-control m-2" type="text" name="Content" />
        </div>
        <input class="btn btn-success m-2" type="submit" value="Create" />
        <input type="text" name="returnUrl" value="@this.Context.Request.Path.Value" hidden />
    </form>
}

@foreach (var post in Model)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h3 class="card-title">@post.CreatedOn</h3>
            <p class="card-text">@post.Content</p>
            <a href="#" class="btn btn-primary">Card link</a>
            <a asp-controller="Posts" asp-action="Delete" asp-route-postId="@post.Id" asp-route-returnUrl="@this.Context.Request.Path.Value" class="btn btn-danger">Delete</a>
        </div>
    </div>
}