@model GroupViewModel
@inject UserManager<ApplicationUser> UserManager
@inject IGroupService GroupService

@{
    this.ViewData["Title"] = "Group " + @Model.Name;
}
<div class="container">
    <div class="row">
        @* Cover *@
        <img class="group-cover" src="https://via.placeholder.com/728x90.png" alt="Alternate Text" />
    </div>
    <div class="row p-3">
        @* Info *@
        <div class="col">
            <h3>@Model.Name</h3>
            <h6><i class="fas fa-globe-europe"></i> Public Group <i class="fas fa-circle"></i> <a asp-controller="Groups" asp-action="Members" asp-route-groupId="@Model.Id">@Model.MembersCount Members</a></h6>
        </div>
        <div class="col-3 my-auto">
            @if (await this.GroupService.IsMemberInGroup(Model.Id, this.UserManager.GetUserId(this.User)))
            {
                @if (await this.GroupService.IsMemberAdmin(Model.Id, this.UserManager.GetUserId(this.User)))
                {
                    <button type="button" class="btn btn-outline-warning float-right" data-toggle="modal" data-target="#exampleModalCenter">
                        Edit Group
                    </button>
                }
            }
            else
            {
                <form asp-controller="Groups" asp-action="JoinGroup" asp-route-groupId="@Model.Id" method="post">
                    <input type="submit" value="Join Group" class="btn btn-outline-secondary float-right" />
                </form>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            @if (await this.GroupService.IsMemberInGroup(Model.Id, this.UserManager.GetUserId(this.User)))
            {
                <div class="py-4">
                    <form asp-controller="Posts" asp-action="Create" method="post" enctype="multipart/form-data">
                        <div class="form-group mb-2">
                            <textarea class="form-control" name="Content" placeholder="Content" style="height: 50px;"></textarea>
                        </div>
                        <div class="form-group mb-2">
                            <div class="row">
                                <div class="col">
                                    <input class="btn btn-success py-1" type="submit" value="Create"/>
                                </div>
                                <div class="col my-auto">
                                    <select class="form-control" id="inputState" name="Privacy" asp-items="Html.GetEnumSelectList<PrivacyStatus>()"></select>
                                </div>
                            </div>
                        </div>
                        <input type="text" name="groupId" value="@Model.Id" hidden/>
                        <input type="text" name="returnUrl" value="@this.Context.Request.Path.Value" hidden/>
                    </form>
                </div>
            }

            @if (Model.Posts.Any())
            {
                @foreach (var post in Model.Posts.OrderByDescending(x => x.CreatedOn))
                {
                    <partial name="_PostPartial" model="post" />
                }
            }
            else
            {
                <h3 class="text-center">This group don't have any posts yet.</h3>
            }
        </div>
        <div class="col">
            <div class="group-info p-2">
                <div class="row m-2">
                    <div class="border-bottom-dark p-2">
                        <h3>About</h3>
                    </div>
                    <div class="">
                        <p>@Model.Description</p>
                    </div>
                </div>
                <div class="row my-3 mx-2">
                    <div class="col-1 px-2">
                        <i class="fas fa-globe-europe"></i>
                    </div>
                    <div class="col pl-0">
                        <p class="mb-0">Public Group</p>
                        <sub>Anyone can see who's in the group and what they post.</sub>
                    </div>
                </div>
                <div class="row my-3 mx-2">
                    <div class="col-1 px-2">
                        <i class="far fa-eye"></i>
                    </div>
                    <div class="col pl-0">
                        <p class="mb-0">Visible</p>
                        <sub>Anyone can find this group.</sub>
                    </div>
                </div>
                <div class="row my-3 mx-2">
                    <div class="col-1 px-2">
                        <i class="fas fa-street-view"></i>
                    </div>
                    <div class="col pl-0">
                        <p class="mb-0">Sofia, Bulgaria</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                Copy
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Example select</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Example multiple select</label>
                        <select multiple class="form-control" id="exampleFormControlSelect2">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Example textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>