@using Socializer.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <!-- bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />

    <!-- font awesome icons -->
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />

    <!-- lazy styling -->
    <link rel="stylesheet" href="~/css/lazy.css">
    
    <!-- custom styling-->
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow p-0">
            <div class="row m-auto w-100">
                <div class="col">
                    <a class="logo p-2" asp-area="" asp-controller="Home" asp-action="Index"><i class="fab fa-angellist fa-2x"></i></a>
                </div>
                <div class="col">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item navigation">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-place-of-worship"></i></a>
                        </li>
                        <li class="nav-item navigation">
                            <a class="nav-link text-danger" asp-area="" asp-controller="Posts" asp-action="Index"><i class="fas fa-home"></i></a>
                        </li>
                        <li class="nav-item navigation">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Friends"><i class="fas fa-user-friends"></i></a>
                        </li>
                        <li class="nav-item navigation">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Groups" asp-action="Discover"><i class="fas fa-users"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        @this.RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/popper/popper.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/js/lazy.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
