@model PostViewModel

<div class="card my-3">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h4 class="card-title"><a asp-controller="Profile" asp-action="Index" asp-route-username="@Model.Creator.UserName">@Model.Creator.FirstName @Model.Creator.LastName</a></h4>
                <div class="row">
                    <div class="col">
                        <sub>@Model.CreatedOn.ToLocalTime()</sub>
                    </div>
                </div>
            </div>
            <div class="col">
                <a class="btn btn-primary float-right" asp-controller="Posts" asp-action="Delete" asp-route-postId="@Model.Id" asp-route-returnUrl="@this.Context.Request.Path.Value"><i class="fas fa-caret-square-down" style="float: right; font-size: 25px;"></i></a>
            </div>
        </div>

        <div class="row">
            <p class="card-text m-2">@Model.Content</p>
        </div>

        <div class="row text-center mt-2 py-2 border-top border-bottom">
            <div class="col">
                <i class="fas fa-thumbs-up"></i>
                Like
            </div>
            <div class="col">
                <i class="far fa-comment-alt"></i>
                Comment
            </div>
            <div class="col">
                <i class="fas fa-share"></i>
                Share
            </div>
        </div>
    </div>
</div>