@using Socializer.Common
@model PostViewModel
@inject IPostsService PostService
@inject UserManager<ApplicationUser> UserManager

<div class="card my-3">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-auto">
                        <h4 class="card-title">
                            <a asp-controller="Profile" asp-action="Index" asp-route-username="@Model.Creator.UserName">@Model.Creator.FirstName @Model.Creator.LastName</a>
                            @if (Model.InGroup)
                            {
                                <i class="fas fa-long-arrow-alt-right"></i>
                                <a asp-controller="Groups" asp-action="Index" asp-route-groupId="@Model.Group.Id">@Model.Group.Name</a>
                            }
                        </h4>
                    </div>
                    <div class="col-auto">
                        @if (await this.UserManager.IsInRoleAsync(await this.UserManager.FindByIdAsync(Model.Creator.Id), GlobalConstants.VerifiedRoleName))
                        {
                            <span class="badge badge-info"><i class="fas fa-check"></i></span>
                        }
                        @if (await this.UserManager.IsInRoleAsync(await this.UserManager.FindByIdAsync(Model.Creator.Id), GlobalConstants.AdministratorRoleName))
                        {
                            <span class="badge badge-danger"><i class="fas fa-user-shield"></i></span>
                        }
                    </div>
                </div>
                <div class="row">
                    <sub>@Model.CreatedOn.ToLocalTime()</sub>
                </div>
            </div>
            <div class="col">
                <div class="dropdown float-right">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="postDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="postDropDown">
                        <a class="dropdown-item" asp-controller="Posts" asp-action="Delete" asp-route-postId="@Model.Id" asp-route-returnUrl="@this.Context.Request.Path.Value">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <p class="card-text m-2">@Model.Content</p>
        </div>

        <div class="row text-center mt-2 py-2 border-top border-bottom">
            <div class="col">
                @if (!await this.PostService.IsLiked(Model.Id, this.UserManager.GetUserId(this.User)))
                {

                    <a asp-controller="Posts" asp-action="Like" asp-route-postId="@Model.Id" asp-route-returnUrl="@this.Context.Request.Path.Value" class="btn btn-outline-success"><i class="far fa-thumbs-up"></i> Like</a>
                }
                else
                {
                    <a asp-controller="Posts" asp-action="UnLike" asp-route-postId="@Model.Id" asp-route-returnUrl="@this.Context.Request.Path.Value" class="btn btn-outline-danger"><i class="fas fa-thumbs-up"></i> Like</a>
                }
            </div>
            <div class="col">
                <a href="#" class="btn btn-outline-success"><i class="far fa-comment-alt"></i> Comment</a>
            </div>
            <div class="col">
                <a href="#" class="btn btn-outline-success"><i class="fas fa-share"></i> Share</a>
            </div>
        </div>
    </div>
</div>